.ivu-form-item-content {
	margin-left: 0!important;
}

.ivu-form-item-label {
	text-align: left!important;
}

.ivu-table-cell {
	padding-left: 5px;
	padding-right: 5px;
}

.multi-content .ivu-poptip-rel {
	display: unset;
}